/* src/styles.css */
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    background-color: #f8f9fa; /* Change to desired color */
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  